$font-main: 'Roboto', Tahoma, sans-serif;

$font-size-title: 2rem;
$font-size-normal: 1.6rem;

$color-black-o: rgba(0, 0, 0, 0.87);
$color-black-o-light: rgba(0, 0, 0, 0.541327);
$color-bg: #e5e5e5;
$color-white: #fff;